ELASTICSEARCH_HOST=elasticsearch
ELASTICSEARCH_PORT=9200
ELASTICSEARCH_SCHEMA=http

REDIS_HOST=redis
REDIS_PORT=6379

POSTGRES_DB=movies_database
POSTGRES_PASSWORD=postgres
POSTGRES_USER=postgres
DB_HOST=postgres
DB_PORT=5432

JWT_ALGORITHM=HS256
JWT_SECRET_KEY=jsdbfjks123ssAd

REQUEST_LIMIT_PER_MINUTE=60